@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Montserrat:wght@300&family=Poppins:wght@200;300;500&;family=Rubik&;display=swap&');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

*

{
   margin: 0;
   padding:0;
   box-sizing: border-box;
   

}


html{
   scroll-behavior: smooth;
}


body{
   
   font-family: 'Poppins', sans-serif;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   color:black;
   cursor: default;
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  
   
}
    
    
    
    
 /*topBtn*/

 .stt {
   position: fixed;
   right: 20px;
   bottom: 20px;
   display: flex;
   width: 37px;
   height: 37px;
   padding: 5px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out; }
 
 .stt:hover {
   opacity: 1; }
 
 .stt__active {
   visibility: visible;
   opacity: 0.5; }
 
 .stt__block_black {
   background-color: #000;
   border-radius: 5%; }
 
 .stt__block_black:before {
   position: absolute;
   top: 50%;
   left: 40%;
   display: block;
   width: 20px;
   height: 5px;
   content: '';
   background-color: #fff;
   transform: translate(0, -50%) rotate(45deg); }
 
 .stt__block_black:after {
   position: absolute;
   top: 50%;
   right: 40%;
   display: block;
   width: 20px;
   height: 5px;
   content: '';
   background-color: #fff;
   transform: translate(0, -50%) rotate(-45deg); }
 
 .stt__circle__black {
   background-color: #000;
   border-radius: 50%; }
 
 .stt__circle__black:before {
   position: absolute;
   top: 50%;
   left: 40%;
   display: block;
   width: 20px;
   height: 5px;
   content: '';
   background-color: #fff;
   transform: translate(0, -50%) rotate(45deg); }
 
 .stt__circle__black:after {
   position: absolute;
   top: 50%;
   right: 40%;
   display: block;
   width: 20px;
   height: 5px;
   content: '';
   background-color: #fff;
   transform: translate(0, -50%) rotate(-45deg); }
 
 .stt__emoji {
   border-radius: 50%;
   opacity: 1; }
 
 .stt__emoji:before {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   font-size: 36px;
   content: "\1F446"; }
 
 

    
    
   
/*nav*/

nav{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   
   
   font-family: 'DM Sans', sans-serif;
   transition: 0.5s;
   z-index: 10000;
   
   display: inline;
   padding: 15px 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 0 0 10px 10px;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.149);
   

   
   
}
    
    
    nav.hidden {
   transform: translateY(-100px);
 }





.subdiv1{
   
  
   align-items: center;
   text-align: right;

   
   }

  

.links{
  display: inline;
  
  
   
   font-family: 'Onest', sans-serif;
   margin-right: 50px;
  
}










.anc{
   position: relative;
   text-decoration: none;
  
   letter-spacing: 0.5px;
   margin-right: 20px;
   color: black;
   
  
   
}





.bi{
 
   text-align: right;
   
  
   cursor: pointer;
  font-size: 18px;
   
  
   
   
}





section{
    
        display: flex;
        justify-content: center;
       
        min-height: 90vh;
        flex-direction: column;
        overflow-x: hidden;
     
}



.home{
    
    
    
    margin: 50px  50px 50px 50px;
  
    padding-left: 50px;
}
    
    
  .circle {
   position: absolute;
   background: linear-gradient(to right, #b993d6, #8ca6db);
   background-size: 200% 200%;
   animation: color 5s ease-in-out infinite, moveDown 1.5s ease-in-out forwards;
   border-radius: 850px 0 0 850px;
   z-index: -10;
}

.circle1 {
   right: 0;
   width: 450px;
   height: 850px;
}

@keyframes moveDown {
   0% {
       transform: translateY(-1000px); /* Adjust the value as needed */
   }

   100% {
      transform: translateY(0px); /* Adjust the value as needed */
  }
}

    
    

@keyframes color {
   0%{
      background-position: 0 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0 50%;
   }
   
}


/*inside home*/

.greeting{
   color: #7E1F86;
   font-size: 30px;
   text-align: left;
   
   
   
}

.topic{
   
  color: rgb(41, 11, 58);
  
       font-size: 150px;
       
       
       font-weight: bolder;
       
       
       animation-delay:  0.2s;
       

   }

  
.downArrow{
   margin-top: 50px;
   animation-delay:  0.9s;
 
 
}

#homeArrow{
   color: black;
}

.downArrow .fa-chevron-down{
  
   font-size: 50px;
 
   padding: 5px 15px;
   border-radius: 100%;
   border-style:solid;
   border-color: transparent;
   transition: 0.5s;
  
  

   
  
}

.downArrow .fa-chevron-down:hover{
  
   transition: 0.5s;
   margin-top:20px;
  
  
   
}





#wrapper{
   box-sizing: content-box;
   background-color: #00000000;
   height: 25px;
  
   color: rgb(24, 13, 132);
   font-size: 20px;
   display: flex;
   text-align: center;
   animation-delay:  0.7s;
   
}

.words{
   overflow: hidden;
   text-align: center;
   }

#im_a{
  
   color:rgb(0, 0, 0);
   font-size: 20px;
   text-align: center;

}


.wrapperInside{
   display: block;
   animation: spin_words 10s infinite;
   text-align: left;
   padding-left: 15px;
}

@keyframes spin_words{
   10%{
       transform: translateY(-112%);
   }
   25%{
       transform: translateY(-100%);
   }
   35%{
       transform: translateY(-212%);
   }
   50%{
       transform: translateY(-200%);
   }
   60%{
       transform: translateY(-312%);
   }
   75%{
       transform: translateY(-300%);
   }
   85%{
       transform: translateY(-412%);
   }
   100%{
       transform: translateY(-400%);
   }
}

/*titles*/

.title{
   display: flex;
   
   font-size: 40px;
}

.titleOne{
   margin-right: 15px;
   background-color: #FF3CAC;
background-image: linear-gradient(225deg, #d53cff 0%, #784BA0 50%, #2B86C5 100%);
-webkit-background-clip: text;
color: transparent;
background-size: 200% 200%;
animation: color 5s ease-in-out infinite;

}

.titleTwo{
   margin-right: 15px;
   
}




/*about*/

.sec2 , .sec3, .sec4{
   margin-left: 50px;
   padding-top: 80px;
   margin-right: 50px;
   overflow: hidden;
  
  
}

.discription{
 display: flex;
}

.dis{
  
   font-weight:300;
   font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
 margin-right: 50px;
}

.discription button{
   
   margin-left: 50px;
   margin-bottom: 50px;
}



.mylogo{
  
   border-radius: 100%;
   height: 20%;
   width: 20%;
  
   margin: 50px;
   animation: mymove 5s infinite;
   transition-delay: 0.5s;
 
  
 
   
}
@keyframes mymove {
   50% { box-shadow: 
      0 0 30px #4c2761;}
 }






 /*skills*/

 .mySkills{
  
   font-weight: normal;

 }

 .title .bi{
   cursor:unset;
 }
 .skills{
   display: flex;

}
.subskills{
   margin: 50px;
   padding: 50px;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   transition-duration: 0.1s;
   animation-duration: 0.1s;
   
}
.bar{
   background: #7e7e7e24;
   display: block;
   height: 15px;
   width: 250px;
   
   border-radius: 10px;
   overflow: hidden;
 
   
}
.bar span{
   height: 15px;
   float: left;
   
   border-radius: 10px;
   background-image: linear-gradient(225deg, #d53cff 0%, #784BA0 50%, #2B86C5 100%);

color: transparent;
background-size: 200% 200%;
animation: color 5s ease-in-out infinite;
}

.subskills h3{
   margin-top: 0px;
}




.title{

  
   animation: title 3s;

   
}

.html{
   width: 95%;
}  
.css{
   width: 90%;
}.javascript{
   width: 80%;
}.python{
   width: 75%;
}.figma{
   width: 85%;
}.photoshop{
   width: 70%;
}
@keyframes title{
   0%{
       width: 0%;
   }
   100%{
       width: 90%;
   }
}

.subskills:nth-child(1) {transition-delay: 0.0s; }
.subskills:nth-child(2) {transition-delay: 0.5s; }
.subskills:nth-child(3) {transition-delay: 1.0s; }
.subskills:nth-child(4) {transition-delay: 1.5s; }
.subskills:nth-child(5) {transition-delay: 2.0s; }
.subskills:nth-child(6) {transition-delay: 2.5s; }



/*services*/


.myServices{
   display: flex;
}

.myServiceContent{
   margin: 50px;
   padding: 50px;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   transition-duration: 0.1s;
   animation-duration: 0.1s;
}


.serviceIcons{
   font-size: 100px;
   text-align: center;
   
   background-image: linear-gradient(225deg,#452c63 0%,#DDA0DD 50%, #1d1160 100%);
   -webkit-background-clip: text;
   color: transparent;
   background-size: 200% 200%;
   animation: color 5s ease-in-out infinite;
   
}
.myServiceContent h3{
   text-align: center;
   margin-bottom: 10px;
}

.ServiceAbout{
   text-align: center;
   font-weight: 400;
}


.myServiceContent:nth-child(1) {transition-delay: 0.0s; }
.myServiceContent:nth-child(2) {transition-delay: 0.5s; }

/*projects*/

.project1{
   
   margin: 50px;
}

.proImg{
   border-radius: 10px;
}

.projectName{
   
   font-size: 20px;
}


/*contact*/

.sec4Body{
   display: flex;
}

.form{
   
   font-size: 20px;
   
  
   margin-left: 50px;
   margin-top: 50px;
   
   
}

input, textarea{
   
  
   font-size: 22px;
   padding-left: 10px;
   border-radius: 10px;
   background: rgba(210, 210, 210, 0.39);
   border-style: none;
   outline-style: none;
   
}

textarea{
   padding-top: 10px;
     resize: none;

}

    
    
input{
  
   height: 50px;
   width: 500px;
   margin-bottom: 20px;
  
}

#email_id{
  
  
}


#message{
  
   height: 250px;
   width: 500px;
}

.btn{
   position: relative;
   margin-top: 20px;
   border-radius: 50px;
   font-family: 'Poppins', sans-serif;
   border-style: none;
   outline-style: none;
   padding: 10px;
   font-size: 18px;
   cursor: pointer;
   background-image: linear-gradient(225deg, #d53cff 0%, #784BA0 50%, #2B86C5 100%);
   
color: white;
background-size: 200% 200%;
animation: color 5s ease-in-out infinite;

overflow: hidden;

}

#formBtn{

}


.btn:before{
   content:'';
   position: absolute;
   height: 100px;
   width: 20px;
   background: #f3f3f3;
   box-shadow: 0 0 10px #fff;
   filter:blur(1px);
   opacity: 0.9;
   top: -30px;
   transition: 0.7s;
   transform: rotate(-20deg) translateX(-60px);
}

.btn:hover:before{
   transform: rotate(-20deg) translate(140px, 70px);
}


.socialLinks{
   font-size: 25px;
    text-align: center;
   justify-content: center;
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 10px;
   border:1px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   padding: 20px;
  padding-bottom: 150px;
  padding-top: 150px;
   margin-bottom: 150px;
  margin-top: 50px;
   margin-left: 100px;
   transition-delay: 0.5s;
    text-align:center;


}
.socialLinks h3{
   text-align: center;
   font-weight: 500;
   margin-bottom: 10px;
}
.socialBtn{
   margin-right: 10px;
   transition: 0.5s;
  color: black;
  text-decoration: none;
}

.socialBtn:hover{
  
color: #ad4adb;



transition: 0.5s;
}
/*footer*/
footer{
   display: flex;
          justify-content: center;
          align-items: center;
          min-height: 10vh;
          flex-direction: row;
          overflow-x: hidden;
          background: #ceb3ff;
          color: black;
}

.footerlink{
   text-decoration: none;
   color: #730087;

   margin-left: 5px;
}



/*anc animation*/


.anc:active{
   color: #fff;
   
}



.anc:after {
   content:'';
   position:absolute;
   background-color:  	#ad4adb;
   height: 3px;
   width: 0px;
   left: 0;
   bottom:-10px;
   transition: 0.3s;
   
}

.anc:hover:after  ,.footerA:hover:after{
   width: 100%;
}






/*scroll bar*/

::-webkit-scrollbar{
   width: 0;
}


#scrollPath{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: rgba(255,255,255,0.05);
}
#progressbar{
   position: fixed;
   top: 0;
   right: 0;
   width: 10px;
   height: 100%;
   background: #636174;
   border-radius: 10px;
   
}



/*screen sizes*/

/*desktop*/
@media (max-width:1445px) {

   .skills{
      margin-left: 5px;
   }

   .subskills{
      margin: 45px;
      padding: 45px;
     
      
   }

}

@media (max-width:1385px) {
   .subskills{
      margin: 40px;
      padding: 40px;
     
      
   }

   .socialLinks{
      padding-top: 150px;
   margin-bottom: 150px;
  margin-top: 50px;
   margin-left: 50px;
   }



}

@media (max-width:1340px) {
   .subskills{
      margin: 35px;
      padding: 35px;
     
      
   }


   @media (max-width:1304px) {
      
         .socialLinks{
            padding-top: 150px;
         margin-bottom: 150px;
        margin-top: 50px;
        
         }
      
      }
   }



   

   


@media (max-width:1290px) {
   .subskills{
      margin: 30px;
      padding: 30px;
      
     
      
   }
   
   

   .socialLinks{
      padding-top: 150px;
   margin-bottom: 150px;
  
  
   }

}


@media (max-width:1210px) {
   .subskills{
      margin: 25px;
      padding: 25px;
      
     
      
   }

   .form{
   
      
      margin-left: 20px;
     
      
      
      
   }

   input{
  
      
      width: 400px;
      
   }
   
   
   
   #message{
     
      height: 250px;
      width: 400px;
   }

}

@media (max-width:1160px) {

   .mylogo{
  
      border-radius: 100%;
      height: 25%;
      width: 25%;
     
      margin: 40px;

   }
   .subskills{
      margin: 20px;
      padding: 20px;
      
     
      
   }

   

}

@media (max-width:1110px) {

   .mylogo{
  
      border-radius: 100%;
      height: 30%;
      width: 30%;
     
      margin: 35px;

   }
   .subskills{
      margin: 15px;
      padding: 20px;
      
     
      
   }

}

@media (max-width:1075px) {
   .subskills{
      margin: 10px;
      padding: 10px;
      
     
      
   }

   input{
  
      
      width: 350px;
      
   }
   
   
   
   #message{
     
      height: 250px;
      width: 350px;
   }


}

@media (max-width:1030px) {


   .form{
      margin-left: 10px;
   }
   input{
  
      
      width: 325px;
      
   }
   
   
   
   #message{
     
      height: 250px;
      width: 325px;
   }

}

@media (max-width:1000px) {
   .sec4Body{
      display: flex;
      flex-direction: column;
   }

   .form{
      margin-left: 50px;
   }
   input{
  
      
      width: 600px;
      
   }
   
   
   
   #message{
     
      height: 250px;
      width: 600px;
   }

   .socialLinks{
      font-size:20px;
      margin-left: 10px;
       text-align:center;
        margin-right: 10px;
       padding: 10px;
     padding-top: 60px;
        padding-bottom: 60px;
   
   
   }

}

@media (max-width:990px) {


   .topic{
      font-size: 140px;
   }
   .subskills{
      margin: 5px;
      padding: 10px;
      
     
      
   }

}


@media (max-width:960px) {
   
   .skills{
  
      display: flex;
      flex-direction: column;
   
    }

    .subskills{
      margin: 20px;
      padding: 20px;
      
     
      
   }

   .bar{
     
     
      width: 750px;
      
      
   }

}
   

@media (max-width:940px) {


   .topic{
      font-size: 130px;
   }
   .bar{
     
     
      width: 650px;
      
      
   }

   .myServiceContent{
      margin: 20px;
      padding: 50px;
   }

   .projects .title{
      margin-top: 50px;
   }


   
}


@media (max-width:850px) {

   .topic{
      font-size: 120px;
   }
   .bar{
     
     
      width: 550px;
      
      
   }
  
   input{
  
      
     
      width: 500px;
   }

   #email_id{
     
   }

   
   
   
   
   #message{
     
      height: 250px;
      width: 500px;
      margin-left: 0;
     
   }
   .form{
   
      
     
      margin-left: 20px;
      
      
      
   }
   
   
}

@media (max-width:800px) {

   .topic{
      font-size: 110px;
   }

   .discription{
      flex-direction: column-reverse;
      
   }

   .dis{
      margin: 30px;
      
        
   }

   .discription button{
      margin-left: 280px;
   }

   .mylogo{
  
     
      height: 50%;
      width: 50%;
     
      margin-left: 185px;

   }

   

   textarea{
      margin-left: 65px;
   }

   .form{
   
      
     
      margin-left: 10px;
      
      
      
   }

}


@media (max-width:750px) {

   .home{
      margin: 40px;
      margin-top: 50px;
      padding-left: 20px;
   }

   .greeting{
      font-size:25px ;

   }

   .topic{
      font-size: 100px;
   }

   .discription button{
      margin-left: 260px;
   }

   .mylogo{
  
     
    
      margin-left: 160px;

   }
   .bar{
     
     
      width: 500px;
      
      
   }

   .myServices{
      flex-direction: column;
    }

    .project1{
   
      margin: 20px;
   }

    .proImg{
      width:580px;
     
      
    }
    
   
   
}


@media (max-width:700px) {

   .topic{
      font-size: 90px;
   }

   .title{
      font-size: 30px;
      

   }
   .mylogo{
  
     
      margin-left: 150px;

   }
   .discription button{
      margin-left: 240px;
   }
   .bar{
     
     
      width: 450px;
      
      
   }

   .proImg{
      width:500px;
      
    }


    input{
      margin-left: 0;
    }

    #message{
     
      
      width: 500px;
     
   }

    #email_id{
      margin-left: 0;
    }

   
}


@media (max-width:650px) {

   .topic{
      font-size: 80px;
   }
   .mylogo{
      height: 60%;
      width: 60%;
     
      margin-left: 105px;

   }
   .discription button{
      margin-left: 210px;
   }
   .bar{
     
     
      width: 400px;
      
      
   }

   .proImg{
      width:450px;
      
    }

    #message{
     
      
      width: 450px;
     
   }

   input{
  
      
      
      width: 450px;
   }
}

@media (max-width:600px) {

   .topic{
      font-size: 70px;
   }
   .mylogo{
      
      
    
      
      margin-left: 95px;

   }
   .discription button{
      margin-left: 190px;
   }
   .bar{
     
     
      width: 350px;
      
      
   }

   .proImg{
      width:400px;
      
    }

    #message{
     
      
      width: 420px;
     
   }

   input{
  
      
      
      width: 420px;
   }


    

   
}

@media (max-width:550px) {

   .home{
      margin: 30px;
      margin-top: 50px;
   }
   .mylogo{
  
     
      
     text-align: center;
      margin-left: 90px;

   }
   .discription button{
      margin-left: 160px;
   }
   .bar{
     
     
      width: 300px;
      
      
   }

   .proImg{
      width:350px;
      
    }

    #message{
     
      
      width: 350px;
     
   }

   input{
  
      
      
      width: 350px;
   }

   
   
}

@media (max-width:500px) {

   .mylogo{
  
      
     
     
      margin-left: 80px;

   }
   .discription button{
      margin-left: 135px;
   }
   .bar{
     
     
      width: 250px;
      
      
   }
   .proImg{
      width:300px;
      
    }

   
}










/*mobile devices*/
@media (max-width:450px) {


   .anc{
      margin-right: 10px;
   }

   .home{
      margin: 20px;
      margin-top: 50px;
      padding-left: 20px;
   }
    
    .circle1{
  
     
      width: 600px;
      height: 1150px;
  }


   .greeting{
      font-size:25px ;

   }

   .topic{
      font-size: 70px;
   }

   #im_a{
      font-size: 18px;
     
   }

   #wrapper{
      font-size:18px ;
      
   }

   .wrapperInside{
      
      padding-left: 9px;
   }

   .downArrow{
      margin-top: 30px;
     
    
    
   }
   
  
   
   .downArrow .fa-chevron-down{
     
      font-size: 40px;
    
      
     
   
      
     
   }
   
   .subdiv1 .bi{
      margin-bottom: -20px;
   }

   .title{
      font-size: 30px;
      

   }

   .sec2, .sec3, .sec4{
      margin: 30px;
     
   }

   .discription{
      flex-direction: column-reverse;
      
   }

   .dis{
      margin: 10px;
      
         font-size: 18px;
     
   }

   .mylogo{
      height: 90%;
   width: 90%;
   margin-left: 15px;
   }


   .discription button{
      margin-left: 120px;
   }

   .sec4Body{
      display: flex;
      flex-direction: column;
   }

   
   
   .skills{
  
      display: flex;
      flex-direction: column;
   
    }

    .subskills{
      margin: 20px;
      padding: 20px;
       }


       .myServices{
         flex-direction: column;
       }
       
       .myServiceContent{
         margin: 20px;
         padding: 30px;
       }
       
       .project1{
      
      margin: 20px;
   }
       
       .proImg{
       width:300px;
       height:180px;
       }
      
      .form{
      
      font-size: 18px;
      
     
     
      
   }
       
       input, textarea{
      
     
      font-size: 16px;
       
      
      
   }
       input{
       margin-left:0px;
        height: 50px;
       width: 330px;
      
       }
       
       #message{
       width: 330px;
       }
      
       #email_id{
      margin-left: 0px;
     
   }

   #formBtn{
     margin-left: 100px;
   }

       .socialLinks{
      font-size:20px;
      margin-left: 10px;
       text-align:center;
        margin-right: 10px;
       padding: 10px;
     padding-top: 60px;
        padding-bottom: 60px;
   
   
   }
   
   
  


}


@media (max-width:417px) {



   .greeting{
      font-size:22px ;

   }

   .topic{
      font-size: 65px;
   }

   #im_a{
      font-size: 18px;
     
   }

   

   


   .discription button{
      margin-left: 115px;
   }


   .title{
      font-size: 25px;
   }



}

@media (max-width:415px) {
   .topic{
      font-size: 62px;
   }
}


@media (max-width:394px) {
   .topic{
      font-size: 60px;
   }

   #formBtn{
      margin-left: 86px;
    }
 

  
}


@media (max-width:391px) {
   .topic{
      font-size: 59px;
   }
   .discription button{
      margin-left:100px;
   }

   
}
@media (max-width:361px) {
   .anc{
     
      font-size: 15px;
      margin-right: 10px;
      
   }

   .greeting{
      font-size: 19px;
   }

   .topic{
      font-size: 55px;
   }

   #im_a{
      font-size: 15px;
     
   }

   #wrapper{
      font-size:15px ;
      
   }

   .wrapperInside{
      
      padding-left: 8px;
   }

   .downArrow{
      margin-top: 20px;
      
     
    
    
   }

   .discription button{
      margin-left:88px;
   }


   

}
    
    
    @media (max-width:361px) {
   .anc{
     
      font-size: 15px;
      margin-right: 10px;
      
   }

   .greeting{
      font-size: 19px;
   }

   .topic{
      font-size: 55px;
   }

   #im_a{
      font-size: 15px;
     
   }

   #wrapper{
      font-size:15px ;
      
   }

   .wrapperInside{
      
      padding-left: 8px;
   }

   .downArrow{
      margin-top: 20px;
      
     
    
    
   }

   .title{
      font-size: 22px;
   }


   .discription button{
      margin-left:88px;
   }



   .subskills{
      margin: 20px;
      padding: 20px;
   }

   .bar{
     
      height: 12px;
      width: 220px;
      
    
      
   }
   
   .bar span{
      height: 12px;
   }

   .proImg{
      width:250px;
      height:150px;
      }

   .form{
      
      
      
     
      margin: 0px;
      
   }

   input{
      
      height: 45px;
     width: 300px;
    
     }
     #message{
       width: 300px;
       }
 



   #formBtn{
      margin-left: 70px;
    }

}

